body {
    margin: 0;
    font-family: monospace;
}

p {
    white-space: pre-wrap;
    margin: 1px 0px;
    font-size: 13px;
}

legend {
    font-size: 1.5rem;
}

legend:hover {
    cursor: pointer;
}

fieldset {
    margin: 1rem 0;
    border-style: inset;
}

.container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

fieldset.minimize {
    height: auto;
}

fieldset.minimize > :not(legend) {
    display: none;
}

.column {
    padding: 1rem;
}

/* TODO: stretch this out via grid or flexbox? */
#results:not(.minimize) {
    height: calc(100vh - 6rem);
    overflow-y: scroll;
}

.result-item {}
